.navbar-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 20px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.logo {
  color: white;
  font-weight: 700;
  padding-left: 10px;
  font-size: 0.95rem;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  gap: 12px;
}
.nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  position: relative;
  text-decoration: none;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text {
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-text.active {
  color: #ffffff;
}

.nav-active-bg {
  position: absolute;
  inset: -4px 0;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  z-index: 1;
  pointer-events: none;
}
.user-avatar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.user-profile-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 20px;
  transition: background 0.3s;
}

.user-profile-trigger:hover {
  background: rgba(255, 255, 255, 0.05);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  min-width: 180px;
  background: rgba(20, 20, 20, 0.9);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  border-radius: 10px;
  transition: background 0.2s;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  box-sizing: border-box;

}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown-item.logout {
  color: #ff4d4d;
}

.dropdown-item.logout:hover {
  background: rgba(255, 77, 77, 0.1);
}
